$purple: rgb(102, 0, 102);
$footerBg: #15191a;

html {
    height: 100%;
}

body {
    background: url("../websitebackgrounds/backgroundHome.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

    height: 100%;
}

header {
  
    /* remove justify-content here */
}

nav {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #logo {
    padding: 0.3rem;
    transition: 0.5s ease-in;
}
nav #logo:hover {
    background-color: transparent;
    transform: scale(1.5) rotate(360deg);
}

nav i {
    margin-right: 5px;
}

nav img {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

/* Navbar links */
nav a {
    transition: 0.5s;
    border-radius: 20%;
    padding: 10px;
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

/* Navbar links on mouse-over */
nav a:hover {
    background-color: rgba($color: #fff, $alpha: 1);
    color: magenta;
}
nav div {
    display: flex;
    align-items: center;
}

/* Current/active navbar link */
.active {
    background-color: $purple;
    border-radius: 50px;
    padding: 1rem;
}
.active p {
    display: inline;
    margin-left: 10px;
}
nav p {
    margin-top: 5px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: flex;
    }
}

.home_text {
    font-size: 97px;
    color: white;
    padding: 1.25rem;
    margin: 13% 1.25rem;

}
.home_text span {
    display: block;
}
.home_text b {
    display: block;
}
.home_text i {
    font-size: 40px;
    color: white;
    display: block;
}

.joinnow {
    border: white 5px solid;
    color: white;
    background-color: transparent;
    padding: 1.5em 2.5em 1.5em 2.5em;
    margin: 1rem 1rem 1rem 0;
    display: block;
    border-radius: 1rem;
    border-width: 4px;
}
.joinnow a {
    text-decoration: none;
    color: white;
}

/* Footer */
footer {
    padding: 2rem;
    padding-left: 0;
    background-color: $footerBg;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex: 0.3;

    h2 {
        align-self: center;
        font-style: italic;
    }

    a {
        color: white;
        text-decoration: none;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            margin-top: 0;
            height: 50%;
        }
    }
}

.conv {
    padding: 0;
}

h1.nice,
h2.nice {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

h1.nice {
    color: #7289da;
}

.awards-pos-save {
    margin-top: 20px !important;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fas {
    min-width: 16px;
    min-height: 11px;
}
.fa-solid,
.fas {
    font-weight: 900;
}

.fa-regular,
.fa-solid,
.far,
.fas {
    font-family: "Font Awesome 6 Free";
}
.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
* {
    box-sizing: border-box;
}

i {
    font-style: italic;
}
h1.nice {
    color: white;
    margin: 0 10px;
    font-weight: bolder;
}

h1.nice:after,
h2.nice:after {
    content: "";
    height: 2px;
    flex: 1 1 auto;
    opacity: 0.6;
    margin: 3% 10px;
}
h1.nice:after {
    background-color: rgba(255, 255, 255, 0.5);
}
.nice:last-child {
    margin-bottom: 3%;
}

#staff {
    margin-top: 5%;
}
#serverFeatures {
    padding: 2rem;
    height: 100%;
    width: 100%;
    background: url("../websitebackgrounds/1049330.jpg") no-repeat center fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "community active server" "events support server";
    grid-area : 5.625rem;
    align-items: center;
    align-content: center;

    div {
        width: 100%;
        height: 100%;
        padding: 1rem;
        h1 {
            font-size: 3.125rem;
        }
        font-size: 1.875rem;
    }
    #active {
        grid-area: active ;
        h1 {
            color: #67FFA9;
        }
        color: #76FEBA;
    }
    #support {
        grid-area:support ;
        h1 {
            color: #DA71FF
        }
        color: #DDA8E1
    }
    #community{
        grid-area:community ;
        h1 {
            color: #FFFB8D;
        }
        color: #E3E5B2;
    }
    #events {
        grid-area: events;
        h1 {
            color:  #FF8484;
        }
        color: #FFCCCC;
    }
    h1 {
        grid-area: server;
        color: white;
        font-size: 5.25rem;
    }
}
