* {
  box-sizing: border-box;
}

html {    
    background: url('../websitebackgrounds/background\ Home.jpg') no-repeat center fixed;     
    background-size: cover;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
  align-items: center;
  /* remove justify-content here */
  }

nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav img {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
  
  /* Navbar links */
  nav a {
    transition: .5s;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
  }
  
  /* Navbar links on mouse-over */
  nav a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #660066;
    border-radius: 50px;
    padding: 1rem;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: flex;
    }
  }

  .home_text {
    font-size: 97px;
    color: white;
    margin: 20px;
    padding: 20px;
}
.home_text span {
  display: block;
}
b {
  display: block;
}
i {
    font-size: 40px;
    color: white;

}

.joinnow {
  border: white 5px solid;
  color: white;
  background-color: transparent;
  padding: 1em;
  margin: 1rem 1rem 1rem 0;
  display: block;
}
.joinnow a {
  text-decoration: none;
  color: white;
}


/* Footer */
footer {
  padding: 2rem;
  background-color: #15191A ;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;

}
footer h2 {
  align-self: center;
}
footer a {
  color: white;
  text-decoration: none;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div h3 {
  margin-top: 0;
  height: 50%;
}